*/packages/*
/packages/*
!packages/repositories.config
!packages/manual/
obj/
bin/
TestResults/
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.resharper.user
*.rptproj.user
*.db
*.sdf
*.tmp
~$*
MvcMusicStore/App_Data/*
Tablet.MvcMusicStore/App_Data/*
.JustCode
.DS_Store
*.user

