/* Home View*/

#home-header {
}

#home-header {
    display: block;
    clear: both;
}

#home-view {
    width: 1000px;
    margin: auto;
}

.home-title {
    width: 200px;
    background-image: url('../img/3_RecordsLogo.png');
    background-repeat: no-repeat;
    height: 80px;
}


.home-header,
.home-artist-list {
    float: left;
    display: inline-block;
}

    .home-header h1 {
        color: #fff;
        font-size: 2em;
    }



.main-hero-wrapper {
    display: inline-block;
    width: 300px;
    margin: auto;
    float:left;
}

.home-artist-list {
    height: 100px;
    float: left;
}

.album-list-item-wrapper {
    width: 200px;
    height: 80px;
    display: inline-block;
}

.album-list-subtitle,
.album-list-price,
.album-list-title {
    vertical-align: top;
    margin: 0 15px;
    font-size: 1.2em;
    color: #747273;
    width: 180px;
    height: 1.2em;
}

.album-list-title {
    overflow: hidden;
    color:#eee;
}

.album-list-price {
    font-size: 1em;    
}

.album-list-subtitle {
    font-size: 1em;
    color: #666;
}


.home-nav {
    width: 300px;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.artist-nav {
    width: 170px;
    height: 100px;
    margin: 50px 10px;
    background-image: #3f3f3f;
}

.sales-album,
.social-album,
.charts-album {
    overflow: hidden;
    vertical-align: baseline;
    line-height: 60px;
    color: white;
    font-size: 1.5em;
    width: 170px;
    height: 60px;
    padding-left: 70px;
    background-repeat: no-repeat;
    display: block;
}

.sales-album {
    background-image: url("../img/dollar.png");
}

.social-album {
    background-image: url("../img/comments.png");
}

.charts-album {
    background-image: url("../img/chart.png");
}

.gauge-container {
    height: 250px;
    display: inline-block;
    margin: 0 40px;
    background-image: url("../img/record-gauge-home.png");
    background-repeat: no-repeat;
    background-position: 0 15px;
    width: 225px;
}

.home-gauge-box {
    width: 200px;
    height: 200px;
    margin: auto;
}

.wide-gauge-title,
.gauge-title {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    position: relative;
    top: -40px;
}

.wide-gauge-title
{
    top:20px;
    font-size:1.7em;
}


.big-sales-tab {
    display: inline-block;
    height: 4.3em;
    vertical-align: baseline;
    text-align: center;
    font-size: 1.25em;
    width: 23.4%;
    border-right: solid 3px #595A5C;
}

    .big-sales-tab:nth-of-type(4) {
        border: none;
    }

.big-sales-tab-title,
.big-sales-tab-amount {
    display: block;
    width: 100%;
    text-align: center;
    height: 18px;
}

.big-sales-tab-title {
    color: #EAEAEA;
    font-size: 1.7em;
    height: 1.2em;
    margin-bottom: 5px;
    font-weight: bold;
}

.big-sales-tab-amount {
    color: #F18449;
    font-size: 1.5em;
    height: 1.6em;
}

.billboard-charts {
    padding: 10px 40px;
    width: 600px;
    float: left;
}

.top-singles-list {
    display: inline-block;
    float: left;
    overflow: hidden;
    height: 930px;
    width: 300px;
}


.list-title {
    font-size: 1.9em;
    color: #F18449;
    font-weight: bold;
}

.top-single-song-list-item,
.top-album-list-item,
.top-single-song-list-item,
.top-album-list-item {
    display: block;
    height: 110px;
    margin: 15px 0;
}

.top-single-song-list-item,
.top-album-list-item,
.top-single-song-list-item > div,
.top-album-list-item > div,
.top-single-song-list-item > img,
.top-album-list-item > img {
    float: left;
}

#topSinglesListView,
#topAlbumsListView {
    border: none;
    background: none;
}

/* iPads (landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    /* Styles */

    .main-hero-wrapper {
        width: 300px;
    }

    .gauge-container {
        margin: 10px 0;
    }

    .big-sales-tab-title
    {
        font-size:1.5em;
    }

    .big-sales-tab-amount
    {
        font-size:1.3em;
    }

}

/* End Home View */
