<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://dbsample.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-bay-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dbsample</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$dbsample</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DashboardEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:k2d48cvibf.database.windows.net,1433;Initial Catalog=dbsample_db;User ID=leo@k2d48cvibf;Password=Latam.123" Name="Data Source=tcp:k2d48cvibf.database.windows.net,1433;Initial Catalog=dbsample_db;User Id=leo@k2d48cvibf;Password=Latam.123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Tablet.MvcMusicStore.Models.DashboardEntities, Tablet.MvcMusicStore" MigrationConfiguration="Tablet.MvcMusicStore.Migrations.Configuration, Tablet.MvcMusicStore" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DashboardEntities-Web.config Connection String">
      <ParameterValue>Data Source=tcp:k2d48cvibf.database.windows.net,1433;Initial Catalog=dbsample_db;User Id=leo@k2d48cvibf;Password=Latam.123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>