<section id="social-view">

    <section class="social-chart-wrapper">
        <div id="top-artists-tabstrip" />

        <div class="social-stats-wrapper">
            <div id="social-stats-chart"></div>
        </div>

    </section>

    <div class="social-tiles">
        <span class="social-tile-wrapper" data-selected="true">
            <span class="social-tile-title social-tile-title-selected">Facebook</span>
            <span class="social-tile social-tile-selected facebook-tile"></span>
        </span><span class="social-tile-wrapper" data-selected="false">
            <span class="social-tile-title">Twitter</span>
            <span class="social-tile twitter-tile"></span>
        </span><span class="social-tile-wrapper" data-selected="false">
            <span class="social-tile-title">Google +</span>
            <span class="social-tile google-tile"></span>
        </span><span class="social-tile-wrapper" data-selected="false">
            <span class="social-tile-title">Pinterest</span>
            <span class="social-tile pinterest-tile"></span>
        </span>
    </div>

    <section class="social-gauges-wrapper">

        <div class="social-gauges">
            <h2 class="simple-title">Social Awareness</h2>
            <div class="radial-gauge-container">
                <div id="social-public-awareness-gauge" class="home-gauge-box" data-role="radialgauge" />
                <header>
                    <h3 class="wide-gauge-title"><span class="orange italic">Popularity</span></h3>
                </header>
            </div>
            <div class="linear-gauge-container social-linear-gauge-wrapper social-acoustic-linear-gauge-wrapper">
                <div id="social-new-owners-gauge" data-role="lineargauge"></div>

            </div>
        </div>

        <div class="social-linear-gauges">

            <div id="top-songs-tabstrip" />

            <div class="social-linear-gauges-wrapper">

                <div class="social-linear-gauge-wrapper social-facebook-linear-gauge-wrapper">
                    <div id="social-facebook-linear-gauge" data-role="lineargauge" class="temp-linear-gauge"></div>
                </div>
                <div class="social-linear-gauge-wrapper social-twitter-linear-gauge-wrapper">
                    <div id="social-twitter-linear-gauge" data-role="lineargauge" class="temp-linear-gauge"></div>
                </div>
                <div class="social-linear-gauge-wrapper social-pinterest-linear-gauge-wrapper">
                    <div id="social-pinterest-linear-gauge" data-role="lineargauge" class="temp-linear-gauge"></div>
                </div>
                <div class="social-linear-gauge-wrapper social-gplus-linear-gauge-wrapper">
                    <div id="social-gplus-linear-gauge" data-role="lineargauge" class="temp-linear-gauge"></div>
                </div>
            </div>
        </div>
    </section>
</section>
