@{
    ViewBag.Title = "Kendo UI&reg Music Store - Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container">
    <div id="main"></div>
</div>

@section templates {

    @RenderPage("salesView.cshtml")
    @RenderPage("socialView.cshtml")
    @RenderPage("mainView.cshtml")

    @RenderPage("Templates.cshtml")

}