<script id="salesview" type="text/x-kendo-template">
<section id="sales-view">

    <section class="store-sales-chart-wrapper">
        <div class="sales-chart-options">
            <span class="sales-chart-options-item sales-chart-options-albums">ALBUMS</span>
            <span class="sales-chart-options-item sales-chart-options-singles">SINGLES</span>
            <span class="sales-chart-options-item sales-chart-options-sales sales-chart-options-item-selected">TOTAL SALES</span>
            <span class="sales-chart-options-item sales-chart-options-downloads">DOWNLOADS</span>
            <span class="sales-chart-options-item sales-chart-options-tickets">TICKET SALES</span>
        </div>
        <div class="store-sales-chart"></div>
    </section>
    <section id="genre-sales">
        <div id="sales-by-genre" class="half-chart-wrapper">
            <div class="chart-group-tabs">
                <span class="time-sales-tab time-sales-tab-selected genre-sales-tab" data-period="weekly">Weekly</span>
                <span class="time-sales-tab genre-sales-tab" data-period="monthly">Monthly</span>
                <span class="time-sales-tab genre-sales-tab" data-period="yearly">Yearly</span>
            </div>
            <div class="half-chart-inner-wrapper">
                <div class="sales-by-genre-chart half-width-chart"></div>
                <span class="store-sales-chart-type change-genre-sales-chart-type">
                    <span class="chart-type-item chart-type-area " data-charttype="area"></span>
                    <span class="chart-type-item chart-type-line " data-charttype="line"></span>
                    <span class="chart-type-item chart-type-column  chart-type-column-selected" data-charttype="column"></span>
                    <span class="chart-type-item chart-type-bar " data-charttype="bar"></span>
                    <span class="chart-type-item chart-type-pie " data-charttype="pie"></span>
                    <span class="chart-type-item chart-type-stacked-bar " data-charttype="stacked-bar"></span>
                </span>
            </div>
        </div>
        <div id="searches-by-genre" class="half-chart-wrapper">
            <div class="chart-group-tabs">
                <span class="time-sales-tab time-sales-tab-selected genre-searches-tab" data-period="weekly">Weekly</span>
                <span class="time-sales-tab genre-searches-tab" data-period="monthly">Monthly</span>
                <span class="time-sales-tab genre-searches-tab" data-period="yearly">Yearly</span>
            </div>
            <div class="half-chart-inner-wrapper">
                <div class="searches-by-genre-chart half-width-chart"></div>
                <span class="store-sales-chart-type genre-searches-chart-type">
                    <span class="chart-type-item chart-type-area " data-charttype="area"></span>
                    <span class="chart-type-item chart-type-line " data-charttype="line"></span>
                    <span class="chart-type-item chart-type-column chart-type-column-selected" data-charttype="column"></span>
                    <span class="chart-type-item chart-type-bar " data-charttype="bar"></span>
                    <span class="chart-type-item chart-type-pie " data-charttype="pie"></span>
                    <span class="chart-type-item chart-type-stacked-bar " data-charttype="stacked-bar"></span>
                </span>
            </div>
        </div>
    </section>
</section>
</script>
