/*	Global Specifications
    ------------------------------------------------------- */

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot');
    src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('fonts/icomoon.svg#icomoon') format('svg'),
        url('fonts/icomoon.woff') format('woff'),
        url('fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*
{
    font-family: 'arial', sans-serif;
}

a:link
{
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/*  Global CSS Transitions
    ------------------------------------------------------- */

* { 
    -webkit-transition:opacity 1s;
    -moz-transition:opacity 1s;
    transition:opacity 1s;
}


/*	Layout
    ------------------------------------------------------- */

html 
    {
        position: relative;
        min-height: 100%;
    }

#wrapper
{
    width: 100%;
    max-width: 944px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.container
{
    margin: 0 auto;
    width: 944px;

}

#body
    {
        padding: 150px 0 50px 0;
    }

h3
    {
        margin: 0;    
        padding-bottom: 8px;
        color: #999;
        text-transform:uppercase;
        font-weight: normal;
        font-size:22px;
    }


/*	Customer View Header + Logo
    ------------------------------------------------------- */

header
    {
        z-index: 99;
        position: fixed;
        background-color: #fff;
        display:block;
        padding: 15px;
        -moz-box-shadow: rgba(0, 0, 0, 0.5) -1px 1px 9px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.5) -1px 1px 9px;
        -o-box-shadow: rgba(0, 0, 0, 0.5) -1px 1px 9px;
        box-shadow: rgba(0, 0, 0, 0.5) -1px 1px 9px;
        top:0;
        right:0;
        left:0;
}

header h1
    {
        margin: -5px 0 0 0;
        float: left;
        
    }

header h1 a
    {
        width: 174px;
        height: 77px;
        text-indent: -9999px;
        display: block;
        background: url(/content/images/awesomesauce-logo.png) no-repeat;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

header h1 a:hover
    {
        opacity: 0.5;
        -moz-opacity: 0.5;
        -webkit-opacity: 0.5;
    }


/*	Global Rounded Buttons
    ------------------------------------------------------- */

.k-button
    {
        background-color: #D88E2F;
        color: #fff;
        font-size: 10px;
        padding: 3px 6px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        text-decoration: none;
        -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
        cursor: pointer;
        border: none;
    }

.k-button:hover
    {
        background-color: #5a5959;
        color: #fff;
    }


/*	Login Button
    ------------------------------------------------------- */

.login-button
    {
        text-align: right;
       
    }

.login-button ul
    {
        list-style-type: none;
        margin: 0;

    }

.login-button ul li
    {
        display: inline;
         
    }

.hellouser
{
    font-size: 13px;
    color:#999;
    padding-right: 15px;
}


/*	Customer View Global Nav + Kendo Overrides
    ------------------------------------------------------- */

.k-menu
    {
        background-color: transparent;
        border: none;
        float: left;
        margin: 13px 0 0 20px;
    }

.k-menu > .k-item, .k-widget.k-menu-horizontal > .k-item
    {
        border: none;
        font: 200 15px;
        color: #999;
        text-transform: uppercase;
        
    }

.k-menu .k-link
    {
        color: #999;
        background:transparent;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

    }

.k-menu .k-link:hover
    {
        color:#d88e2f;
    }



.k-menu .k-state-hover
    {
        background-color: transparent;
    }

.k-state-hover .k-link
{
    background:transparent;

}


.k-menu .k-item .k-item a.k-link
   {
       -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
   }

.k-menu .k-item .k-item a.k-link:hover
    {
        background-color:rgba(216, 142, 47, 0.7); 
    }


.k-menu .k-popup
    {
        background-color: rgba(255, 255, 255, 0.8);
        text-transform: none;
        border:0;
        
    }

.k-menu .k-popup .k-item
   {
       font-size: 13px;
       font-weight: normal;
       text-transform: none;
       color: #2e2e2e;
       -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
   }

.k-menu .k-popup .k-item .k-link:hover
   {
       color: #fff;
   }

.k-menu .k-popup .k-content
    {
        background-color: rgba(255, 255, 255, 0.8);
    }

.k-menu .k-popup .k-content img
    {
    width: 50%;
    }

.menu-content
{
    padding: 10px;
}

.editor-field
{
    padding-bottom: 10px;
}


/* Shopping Cart Menu
    ------------------------------------------------------- */

#cart-menu
    {
        float: right;
    }

 #cart-menu .k-i-close
    {
        float: right;
        cursor: pointer;
        opacity: .3;
    }

#cart-menu .k-i-close:hover
    {
        float: right;
        cursor: pointer;
        opacity: 1;
    }

#cart-menu .k-content
    {
        padding: 10px;
    }

#cart-menu .k-content li span:first-child
        {
            float: left;
        }

#cart-menu .k-content ul
        {
            list-style-type: none;
            padding: 0;
            border: none;
        }

#cart-menu .k-content ul li
    {
        display: block;
        clear: left;
    }

#cart-menu .k-content ul li:last-child
        {
            border-bottom: thin solid #999;
            padding-bottom: 25px;
        }

#cart-menu .cm-checkout
    {
        clear: both;
        padding-top: 12px;
    }

#cart-menu .cm-total
    {
        text-transform: uppercase;
    }

#cart-menu .cm-amount
    {
        padding-right: 10px;
        font-weight: bold;
    }

#cart-menu .cm-count:before
    {
        font-family: 'icomoon';
        content: "#";
        padding-right: 4px;
    }

#cart-menu .k-block,  #cart-menu .k-widget
    {
        background-color: transparent;
    }


/*	Global Search
    ------------------------------------------------------- */

.k-autocomplete
    {
        float: right;
        width: 250px;
        margin-top: 15px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

.k-autocomplete.k-state-hover
{
    border-color:#D88E2F;
    background-color: #D88E2F;
}

.k-list-container
    {
        background-color: rgba(255, 255, 255, 0.8);
    }

#main-search-list .k-item
    {
        margin: 5px 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

#main-search-list .k-state-hover
    {
        background-color:rgba(216, 142, 47, 0.7); 
        border: none;
        color: #f6f6f6;
        cursor: pointer;
    }

.album-wide img
    {
        height: 60px;
        width: 60px;
        float: left;
        margin-right: 5px;
    }

.album-wide div
    {
        display: block;
        min-height: 60px;
    }

.album-wide span
    {
        font-size: .8em;
        vertical-align: top;
        margin: 0;
        padding: 4px;
        display: block;
        line-height: 1em;
    }

.album-wide span:first-child
    {
        font-weight: bold;
    }


/*	Home Page Content
    ------------------------------------------------------- */


#promotion
{
    margin-bottom: 50px;
    height: 445px;
    width: 950px;
}


#body .k-listview
{
    border: none;
}

.featureartist-text
    {
        color: #000;
    }


/*	Footer
    ------------------------------------------------------- */

footer
    {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100px;
        width: 100%;
        border-top: 1px solid #c7c7c7;
    }


footer ul
    {
        list-style-type: none;
        margin: 0 auto;
        width: 216px;
        padding: 40px 0;
        
     
    }

footer ul li
    {
        display: inline;
        padding-right: 20px;
        float: left;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        opacity: 0.7;
        -moz-opacity: 0.7;
        -webkit-opacity: 0.7;
    }
 

footer ul li:hover
    {
        opacity: 1;
        -moz-opacity: 1;
        -webkit-opacity: 1;
    }

footer ul li img
    {
        width: 88px;
    }


/*	Albums
    ------------------------------------------------------- */

.album
    {
        float: left;
        padding:0px 48px 20px 0px;
        width: 150px;
        cursor: pointer;
        font-size:14px;
    }

.album:nth-child(5n+5)
    {
        padding-right: 0;
    }

.album:nth-child(5n+6)
    {
        clear: left;
    }

.album img
    {
        height: 150px;
        width: 150px;
        border: 1px solid #c7c7c7;
        padding: 4px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

.album img:hover
    {
        opacity: 0.7;
        -moz-opacity: 0.7;
        -webkit-opacity: 0.7;    
    }

.album span
    {
        display: block;
    }

.album .title
    {
        font-weight: bold;
    }

.album .price
    {
        font-style: italic;
        color: #ababab;
    }


/*	Album Popup Window
    ------------------------------------------------------- */

.album-details .image-container
    {
        float: left;
        height: 100%;
        margin-right: 20px;
    }

.album-details img
    {
        height: 200px;
        width: 200px;
        border: 1px solid #c7c7c7;
        padding: 4px;
    }

.album-details .artist
    {
        font-size: 1.2em;
        margin-bottom: 20px;
    }

.album-details .price
    {
        padding-left: 1em;
        font-size: 15px;
    }

.album-details .price-currency
    {
        font-size: .6em;
        padding-left: 4px;
    }

.album-details .k-numerictextbox
    {
        width: 80px;
        margin-left: 4px;
    }

.album-details .total
    {
        margin-top: 4px;
        padding-top: 4px;
        padding-left: 1em;
        border-top: 1px solid #999;
        overflow: hidden;
        margin-bottom: 20px;
        font-size: 20px;
    }

.k-numeric-wrap
    {
        border-color: none;
        background-color: #E9E9E9;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

.k-numeric-wrap.k-state-hover
    {
        border-color: none;
        background-color: #D88E2F;
    }

.album-details .k-button
    {
        font-size: 15px;
    }

.k-window .k-header, .k-window .k-header .k-state-hover:hover
    {
        background-color: transparent;
    
    }

.k-window .k-header .k-state-hover:hover
    {
        border: thin solid transparent;
    }

.k-window-title
{
    font-weight:700;
}


/*	Login Page
    ------------------------------------------------------- */

.login
    {
        margin: 0;
        font-size: 14px;
    }

.login ul
    {
        list-style-type: none;
        display: block;
        text-align: left;
        padding: 0;
        margin: 0;
    }

.login ul li
    {
        padding-bottom: 15px;
    }

.login-small
    {
        font: 11px;
        color: #888;
    }

.login-small a:link, .login-small a:visited
    {
       color:#D88E2F;
       -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

.login-small a:hover
    {
      color:#5a5959;
    }

.login .k-button
    {
        font-size: 15px;
    }


/*	Shopping Cart Review
    ------------------------------------------------------- */

.cart-search
{
    display: inline-block;
    float: right;
}

#cart-grid
{
        border-width: 0 0 1px 0;
        border-color: #999;
}

#cart-grid .k-grid-header-wrap, #cart-grid td
    {
        border: none;
    }

#cart-grid .k-grid-header
    {
        font-size: 1.1em;
        background-color: transparent;
        border: none;
    }

#cart-grid .k-header
    {
        background-color: transparent;
        border-width: 0 0 1px 0;
        border-color: #999;
    }

#cart-grid .k-numerictextbox
    {
        width: 80px;
    }

#cart-grid th:last-child, #cart-grid td:last-child
    {
        text-align: right;
    }

.grid-footer
{
    font-size: 1.1em;
    padding: 10px 10px 0px 10px;
    text-align: right;
}

.grid-footer .k-button
    {
        font-size: 15px;
    }


/* Contact page
    ------------------------------------------------------- */

.contact
    {
        float: left;
        margin: 0 100px 120px 0;
    }

.contact p
    {
        font-size: 13px;
    }

.contact .label
    {
        text-transform: uppercase;
        color: #999;
    }

.contact .k-button
    {
    margin-top: 30px;
    font-size: 15px;
    }

.contact span
    {
        display: block;
        clear: left;
    }

.contact span a:link, .contact span a:visited
    {
       color:#D88E2F;
       -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

.contact span a:hover
    {
      color:#5a5959;
    }

.demo-information
{
    color: #999;
    padding-bottom: 10px;
}


/* Override some general Kendo things */

.k-header,.k-grid-header,.k-toolbar,.k-dropdown-wrap,.k-picker-wrap,.k-grouping-header,.k-tooltip,.k-pager-wrap,.k-button,.k-draghandle,.k-tile,.k-textbox,.k-autocomplete,.k-state-hover,.k-state-selected,.k-state-focused,.k-state-highlight,.k-tabstrip-items .k-item
{
    background-image: none;
}

.k-state-selected
{
    background-color: #D88E2F;
    border:none;
}


/*	List-View (Albums)
    ------------------------------------------------------- */

.k-pager-wrap
{
    margin: 20px 0;
    border: none;
    background-color: transparent;
    font-size: 12px;
    color:#999;
}

.k-pager-info 
    {
        float: right;
        padding: 0;
    }


/*	Sales Graphs
    ------------------------------------------------------- */

#date-range, #genre-chart-type
{
    background:none;
    margin: 0;
    padding: 0;
}

#date-range li, #genre-chart-type li
    {
        border: none;
        background-color: #b4b4b4;
        color: #fff;
        margin-right: 8px;
        padding: 3px 6px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        text-decoration: none;
        -webkit-transition: all 0.3s ease-in-out;
         -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
         transition: all 0.3s ease-in-out;
        cursor: pointer;
        border: none;
    }



 #date-range li:hover, #date-range li.k-state-selected, #genre-chart-type li:hover, #genre-chart-type li.k-state-selected
    {
        background-color: #D88E2F;
        color: #fff;
    }

#date-range
    {
        padding-bottom: 30px;
        font-size: 15px;
    }

#genre-chart-type
    {
        font-size: 11px;
    }

#revenue-chart
    {
        margin-bottom: 50px;
    }

#revenue-chart text[style], #genre-chart text[style]
    {
       font: 12px Open Sans, sans-serif !important;
    }

#revenue-chart g path:first-child
    {
        fill:#D88E2F;
        stroke:none;
    }


#revenue-chart g path:nth-child(2), #genre-chart g path:nth-child(2)
    {
        display: none;
    }

#revenue-chart g path[fill="none"]
    {
        fill: none;
    }

#revenue-chart g[clip-path] path
    {
        stroke:#ccc;
    }

.cake
{
    text-transform: uppercase;
    display: block;
    clear:right;
}


/* Genre Chart
    ------------------------------------------------------- */

.selector
{
    background: #EEE;
    border: solid #DADADA;
    border-width: 0 1px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.selector li
{
    list-style-type: none;
    display: inline-block;
    padding: 4px 10px;
    cursor: pointer;
    border-left: 1px solid #999;
}

    .selector li:last-child
    {
        border-right: 1px solid #999;
    }

#genre-chart
{
    clear: none;
    min-height: 400px;
    font-size: .6em;
    text-align: center;
    color: #a33636;
}

#genre-chart a:link, #genre-chart a:visited
    {
        color: #a33636;
    }


#genre-chart a:hover
        {
            color: #a86464;
        }

.k-dropdown-wrap, .k-textbox
{
    -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
}

.k-dropdown-wrap.k-state-hover
    {
        background-color: #D88E2F;
    }

.k-textbox:hover
    {
        border-color: #D88E2F;
    }

#albumsGrid img
{
    height: 60px;
    width: 60px;
}

#albumArtUploadWindow
{
    display: none;
}


/* Checkout
    ------------------------------------------------------- */

.checkout-info > div
{
    float: left;
    margin-right: 50px;
}

.checkout-info > input
{
    display: block;
    clear: both;
}

.checkout-info .note
{
    width: 200px;
    display: block;
    font-size: .9em;
    font-style: italic;
    color: #999;
    margin-bottom: 4px;
    padding-left: 4px;
}

.checkout-info .k-tooltip-validation
{
    margin-left: -30px;
    background-color: rgba(255, 0, 0, .2);
    border: none;
}

.k-calendar td.k-state-selected a
{
    background-color: #D88E2F;
}

.k-calendar .past
{
    color: #eee;
}

.checkout-complete .k-button
{
    margin-top: 30px;
    font-size: 15px;
}

.demo-note
{
    display: block;
    font-size: .9em;
    font-style: italic;
    color: #999;
    margin-bottom: 4px;
    padding-left: 4px;
    text-indent: -18px;
    margin-left: 18px;
}

.demo-note:before
{
    content: "*";
    font-size: 2em;
    font-style: italic;
    color: #CE6A54;
}

.demo-note.demo-graph-note
{
    float: right;
    width: 300px;
}