
<section class="contact">
<h3>Have a question?</h3>


    <p>
        <span class="label">Web Site:</span>
        <span><a href="http://www.kendoui.com">www.KendoUI.com</a></span>
    </p>
    <p>
        <span class="label">Documentation:</span>
        <span><a href="http://docs.kendoui.com/">docs.KendoUI.com</a></span>
    </p>
    <p>
        <span class="label">Forums:</span>
        <span><a href="http://www.kendoui.com/forums.aspx">www.kendoui.com/forums.aspx</a></span>
    </p>
    <p>
        <span class="label">Phone:</span>
        <span>+1-888-365-2779</span>
    </p>
    <p>
        <span class="label">e-Mail:</span>
        <span><a href="mailto:sales@kendoui.com">sales@kendoui.com</a></span>
    </p>
    <a href="/" class="k-button">Return to Store</a>
</section>


<section class="contact">
<h3>Want to see more?</h3>


    <p>
        <span class="label">Demos:</span>
        <span><a href="http://demos.kendoui.com/web/overview/index.html">demos.KendoUI.com</a></span>
    </p>
    <p>
        <span class="label">Dojo:</span>
        <span><a href="http://www.kendoui.com/dojo.aspx">www.kendoui.com/dojo.aspx</a></span>
    </p>
</section>

