@section scripts
{
    <script src="~/Scripts/App/home-index.js"></script>
}

@Html.Partial("_AlbumListTemplatePartial")

<div id="promotion">
    <img data-bind="rotateImages: bannerImages" data-rotate-delay="5000" />
</div>

<section class="album-list">
    <h3>Featured Artist: <span data-bind="text: featuredArtistName" class="featureartist-text"></span></h3>
    <div class="clearfix" data-role="listview" data-bind="source: featuredArtistAlbums" data-template="album-template"></div>
</section>

<section class="album-list">
    <h3>Top Selling Albums</h3>
    <div class="clearfix" data-role="listview" data-bind="source: topSellingAlbums" data-template="album-template"></div>
</section>
