@model MvcMusicStore.ViewModels.ShoppingCartViewModel
@section scripts
{
    <script src="~/Scripts/App/shoppingcart-index.js"></script>
}

<script id="rowTemplate" type="text/x-kendo-tmpl">
    <tr>
        <td class="album-wide">
            <img data-bind="attr: {src: Album.AlbumArtUrl }" />
            <div>
                <span data-bind="text: Album.Title"></span>
                <span data-bind="text: Album.Artist.Name"></span>
            </div>
        </td>
        <td data-bind="textFormatted: Album.Price" data-format="c"></td>
        <td>
            <input type="number" value="1" min="1" max="100" data-role="numerictextbox" data-decimals="0" data-format="n0" data-bind="value: Quantity, events: { spin: updateQty }" /></div>
        </td>
        <td>
            <span class="k-button" data-bind="click: remove">Remove</span>
        </td>
        <td data-bind="textFormatted: Total" data-format="c"></td>
    </tr>
</script>

<h3>Shopping Cart</h3>
<div id="cart-grid"
    data-role="grid"
    data-bind="source: cartItems"
    data-row-template="rowTemplate"
    data-scrollable="false"
    data-columns="[
        'Item',
        { title: 'Price', width: '100px' },
        { title: 'Quantity', width: '100px' },
        { title: 'Remove', width: '100px' },
        { title: 'Total', width: '100px' }
    ]"></div>

<div class="grid-footer">
    Subtotal: <span data-bind="textFormatted: total" data-format="c"></span>
</div>
<div class="grid-footer">
    @Html.ActionLink("Checkout", "AddressAndPayment", "Checkout", null, new { @class = "k-button" })
</div>
