@if (Request.IsAuthenticated) {
    <text>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <span class="hellouser">Hello, @User.Identity.Name!</span> <a href="javascript:document.getElementById('logoutForm').submit()" class="k-button">Log off</a>
            if (User.IsInRole("Administrator")) {
                <a href="/StoreManager" class="k-button">Manage Store</a>
                <a href="/StoreManager/Graphs" class="k-button">View Sales Graphs</a>
            }   
        }
    </text>
} else {
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "k-button" })
    <a href="/StoreManager" class="k-button">Manage Store</a>
    <a href="/StoreManager/Graphs" class="k-button">View Sales Graphs</a>
}
