<script id="search-result-template" type="text/x-kendo-template">
    <div class="album-wide" data-album-id="${data.AlbumId}">
        <img src="${data.AlbumArtUrl}" />
        <div>
            <span>${data.Title}</span>
            <span>${data.Artist.Name}</span>
        </div>
    </div>
</script>