@{
    ViewBag.Title = "Store Graphs";
}

@section scripts
{
    <script src="~/Scripts/App/storemanager-graphs.js"></script>
}

<span class="demo-note demo-graph-note">The data for these charts is generated randomly by the server and is for demonstration only.</span>

<ul id="date-range" class="selector" ></ul>
<h3>Overall Sales</h3>
<div id="revenue-chart"></div>

<h3>Orders By Genre</h3>
<ul id="genre-chart-type" class="selector"></ul>
<div id="genre-chart"></div>