@model IEnumerable<MvcMusicStore.Models.Album>

@{
    ViewBag.Title = "Index";
}

@section scripts
{
    <script src="~/Scripts/App/storemanager-index.js"></script>
}

@if (System.Configuration.ConfigurationManager.AppSettings["enableEdits"] == "false")
{
    <span class="demo-note">Data editing and image upload are disabled. You can modify rows in the grid, but changes will not be saved to the server.</span> 
}

<h3>Manage Albums</h3>
<div id="albumsGrid"></div>
